/*  
Clean Break
*/

html,body{
  padding-top: 0px;
  font-family: 'Lato', 'Open Sans', "Helvetica Neue", Helvetica,Arial,sans-serif;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 50);
}

ul, ol {
  margin-left: 14px;
}

a {
  color: rgb(39, 132, 219);
}

a:hover {
    color: rgb(0, 112, 218);
    text-decoration: none;
}

/* Mobile/tablet styling */
@media (max-width: 979px) { 
  .entry {
    padding: 0px 15px 5px 15px;
    min-height: 200px;
  }

  .entrytitle h1 a {
    font-size: 0.75em;
  }

  .entrybody {
    font-size: 1.05em;
  }
}

#headercontent {
  /* Fluid experiment */
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  margin-bottom: 30px;
}

.navbar-brand {
  font-family: 'Droid Sans', Arial;
  text-transform: lowercase;
  font-size: 2.0em;
  max-width: none;
  text-align: left;
  color: rgb(119, 119, 119);
}

.navpunch {
  font-weight: normal;
  color: rgb(60, 58, 58);
  margin-left: -5px;
}

.nav > li > a {
  padding: 15px 10px;
}

#footer {
  background-color: #eee;
}

#footer section.meta {
padding: 24px;
}

/* Entry */
.entry {
    margin-bottom: 10px;
    min-height: 200px;
    /* Fluid experiment */
    max-width: 1260px;
    margin-right: auto;
    margin-left: auto;
}

.entrytitle h1, h2, h3, h4, h5 {
    text-transform: none;
    border-top: 0px;
    border-bottom: 0px;
    padding-left: 0px;
}

.entrytitle h1 {
    font-family: "Montserrat", 'Helvetica Neue', Helvetica, Arial;
    font-size: 2.0em;
}

.entry h2, .entry h3 {
    font-family: "Montserrat", 'Helvetica Neue', Helvetica, Arial;
}

.entry h2 {
    font-size: 1.6em;
}

.entry h3 {
    font-size: 1.4em;
}

.entrybody {
  font-size: 1.3em;
}

/* http://baymard.com/blog/line-length-readability */
.entry, .entrytitle, .entrybody p, .entrybody li, .entrybody blockquote, .entrybody h2, .entrybody h3, .entrybody h4, .entrybody h5 {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  line-height: 35px;
  margin-bottom: 1.2em;
}

.entrymeta {
  font-family: 'Open Sans','Helvetica Neue', Arial;
  clear: both;
  font-size: 0.85em;
  letter-spacing: 0.02em;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-top: 0px;
  display: block;
  margin-top: -14px;
  margin-bottom: 8px;
  color: #6F6F6F;
}

.entrysocial {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: right;
}

.socialbutton {
    display: inline-block;
    margin-right: 10px;
}

.entrytrailer {
    margin-top: 40px;
    padding: 12px 8px;
    background-color: white;
    text-align: center;
    border: 0px solid #ddd;
    border-radius: 0px;
    -webkit-border-radius: 4px;

    -moz-outline-radius-bottomleft:10px;
    -moz-outline-radius-bottomright:10px;
    -moz-outline-radius-topleft:10px;
    -moz-outline-radius-topright:10px;

    /* Background color */
    outline-color:#eee;
    outline-offset:0;
    outline-style:solid;
    outline-width:4px;
}

/* Next/Prev Navigation */
.navigation {
    margin-top: 4px;
}

.nextnav, .prevnav {
    font-family: 'Helvetica Neue', Helvetica;
    font-size: .9em;
}

.prevnav {
    float: left;
}

.nextnav {
    float: right;
}

/* Comments */
.commentsblock {
  max-width: 800px;
  margin-top: 80px;
  min-height: 330px;
  margin-right: auto;
  margin-left: auto;
}

/* Highlight author comment */
.highlight-comment {
  padding: 2px;
  border: 1px solid #aaa;
}

.flickr-frame img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

/* Flickr formating */
.flickr-frame {
  margin-top: 8px;
  margin-bottom: 20px;
}

.flickr-frame img {
  /* Center the image within the frame */
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid black; 
}

/* For floating frame */
.flickr-float {
  float:left;
}

.flickr-float-right {
  float:right;
}

.flickr-caption {
    font-style: italic;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 8px;
}

.dateline {
  color: #6F6F6F;
  margin-left: 4px;
  font-size: 10.5px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.past-posts {
  margin-top: 0px;
  margin-bottom: 0px;
  
  list-style: none;
}

.past-posts li {
  letter-spacing: .9px;
  font-size: 1.0em;
  margin-top: 2px;
  margin-left: 8px;
}

#archives-date {
  list-style: none;
}

#archives-date li {
  margin-top: 6px;
}

/* General Style */
tt, code {
   padding-left: 1px;
   padding-right: 1px;
}

/* Video formating */
.video-frame {
 margin: 8px;
}

.search-box {
  margin-top: 10px;
  display: inline-block;
}

#searchbox {
  margin-right: 10px;
  width: 260px;
  font-size: 16px;
}

#searchsubmit {
  font-size: 24px;
}