<div id="footer" class="hidden-print">
{% if false %}
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="col col-lg-2 col-offset-2">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="icon icon-twitter icon-2x"></i>
              <div>Follow Me</div>
            </a>
          </div>
          <div class="col col-lg-2 col-offset-1">
            <a href="mailto:mike@graysky.org">
              <i class="icon icon-envelope icon-2x"></i>
              <div>
                Contact Me
              </div>
            </a>
          </div>
          <div class="col col-lg-2 col-offset-1 next">
            <a href="http://feeds.feedburner.com/graysky">
              <i class="icon icon-rss-sign icon-2x"></i>
              <div>
                Subscribe
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endif %}
</div>

{% include analytics.html %}
</body>
<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/javascript/up.js"></script>
<script type="text/javascript" src="/javascript/app.js"></script>

{% if false %}
<div id="footer">
  <div id="footer-license" style="text-align: center">
		<script type="text/javascript">get_contact_sig()</script>
		
  	<span style="margin-left: 60px;">Some rights reserved &ndash; <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons (by-nc-sa)</a></span>
 		
		<span style="margin-left: 60px;"><a href="http://feeds.feedburner.com/graysky"><img src='/images/feed16.png' width='16px' height='16px' style="vertical-align:middle;border:0;margin:0 1px 4px 0;padding:0" /></a> <a href="http://feeds.feedburner.com/graysky">Subscribe</a></span>
  </div>
</div>
{% endif %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!--  Google +1 button -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/126481.js"></script>
<!-- End of HubSpot Embed Code -->
