<div id="footer">
  <div id="footer-license" style="text-align: center">
		<script type="text/javascript">get_contact_sig()</script>
		
  	<span style="margin-left: 60px;">Some rights reserved &ndash; <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons (by-nc-sa)</a></span>
 		
		<span style="margin-left: 60px;"><a href="http://feeds.feedburner.com/graysky"><img src='/images/feed16.png' width='16px' height='16px' style="vertical-align:middle;border:0;margin:0 1px 4px 0;padding:0" /></a> <a href="http://feeds.feedburner.com/graysky">Subscribe</a></span>
  </div>
</div> <!-- end footer -->

<!-- Twitter -->
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>

<!--  Google +1 button -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Start of HubSpot Logging Code  -->
<script type="text/javascript" language="javascript">
var hs_portalid=126481; 
var hs_salog_version = "2.00";
var hs_ppa = "startuppingpong.app11.hubspot.com";
document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End of HubSpot Logging Code -->
