<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head profile="http://gmpg.org/xfn/11">
<meta name="dc.creator.name" content="Mike Champion"/>
<meta name="description" content="Blog of Mike Champion." />
<meta name="author" content="Mike Champion" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<meta name="bitly-verification" content="ec2f7b007e9b"/>
<!-- Facebook / OG -->
<meta property="fb:admins" content="1711104" /> 
<meta property="og:site_name" content="graysky" /> 
<meta property="og:image" content="http://graysky.org/images/graysky.png" /> 
<meta property="og:url" content="{{site.base_url}}{{page.url}}" /> 
<meta property="og:type" content="article" /> 
<meta property="og:title" content="{{ page.title | strip_html}}" /> 

<title>{{ page.title | strip_html }} - graysky</title>

<!-- Fonts from Google Font API -->
<link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans&v2' rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Nobile:regular,bold&subset=latin" rel="stylesheet" type="text/css">
<!-- Blueprint base styles -->
<link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
<!--[if IE]>
<link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" />
<![endif]-->
<link rel="stylesheet" href="/css/style.css?{% asset_tag %}" type="text/css" media="screen, projection" />

<!-- Feeds / Pingback -->
<link rel="alternate" type="application/rss+xml" title="graysky RSS Feed" href="http://feeds.feedburner.com/graysky" />
<link rel="shortcut icon" href="/images/favicon.ico" />

<!-- Open ID - TODO: Switch
<link rel="openid.server" href="http://www.vox.com/services/openid/server" />
<link rel="openid.delegate" href="http://graysky.vox.com/" />
-->

<!-- Google Analytics async tracker -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-287373-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- JQuery and JS helper -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/app.js"></script>
<!--[if IE]>
<link rel="stylesheet" href="/css/ie.css?{% asset_tag %}" type="text/css" media="screen, projection" />
<![endif]-->

<!--[if !IE 7]>
<style type="text/css">
	#page {display:table;height:100%}
</style>
<![endif]-->
</head>
