<!-- Google CSE Search Box Begins  -->
<div class="search-box">
<form id="searchbox_000048401782643744254:xf_7jq_yk0u" action="https://www.google.com/search">
  <input type="hidden" name="cx" value="000048401782643744254:xf_7jq_yk0u" />
  <input type="hidden" name="cof" value="FORID:1" />
  <input name="q" id="searchbox" type="text" size="12" placeholder="Search the archives" class="pull-left" />
  <input type="submit" id="searchsubmit" name="sa" value="Search" class="pull-right" />
</form>
</div>