<div id="sidebar" class="prepend-1 span-7 last">
{% if site.about_page != page.permalink %}

<h3>Welcome</h3>
<div class="clear clearfix" style="margin-top: 8px; margin-bottom: 24px;">
	<div style="float: left;">
  	<div class="profile-pic" style="margin-right: 6px; padding-top: 2px;">
			<img src="/images/mike_champion3.png" alt="Mike Champion"/>
  	</div>
  </div>
		<p>Hi, I'm <a href="/mike-champion">Mike Champion</a>.
			<br />
			I'm a pragmatic developer working for a startup in Cambridge, MA.
			<br /><a href="/mike-champion">Read more &raquo;</a>
		</p>
</div>

<div style="margin-top: 18px;">
<a href="http://twitter.com/graysky" class="twitter-follow-button" data-show-count="true">Follow @graysky</a>
</div>

<h3 style="margin-top: 30px;">Recent Posts</h3>
<ul class="sidebar-posts">
	{% for post in site.posts %}
  	{% if forloop.index <= 14 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a>
		{% endif %}
  {% endfor %}
	
	<li style='padding-top: 16px;'>
		<!-- Google CSE Search Box -->
		<form id="searchbox_000048401782643744254:xf_7jq_yk0u" action="http://www.google.com/search">
		  <input type="hidden" name="cx" value="000048401782643744254:xf_7jq_yk0u" />
		  <input type="hidden" name="cof" value="FORID:1" />
		  <input name="q" id="searchbox" type="text" size="18" style="background-color: #fafafa;" />
		  <input type="submit" id="searchsubmit" name="sa" value="Search" />
		</form>
	</li>
	<li style="font-size: .85em; font-weight: bold;"><a href="/archives">Browse Full Archives &raquo;</a></li>
</ul>

<div style="margin-top: 14px;">
</div>

<!--
<h3 style="margin-top: 26px;">Popular Posts</h3>
<ul class="sidebar-posts">
	<li><a href="/2009/06/textmate-project-refresh-focus/">TextMate Project Tree Refresh</a></li>
	<li><a href="/2009/03/translator-rails-i18n/">Translator - Rails i18n Simplifier</a></li>
	<li><a href="/2008/12/git-branch-auto-tracking/">Git Branch Auto-Tracking</a></li>
	<li><a href="/2008/12/tourbus/">Farewell tourb.us</a></li>
	<li><a href="/2008/09/boston-contemporary-architecture/">Boston Contemporary Architecture</a></li>
</ul>
-->

<!--
<h3 style="margin-top: 30px;">Recent Tweets</h3>
<ul id="twitter_update_list" class="sidebar-posts"></ul>

<script>
$(document).ready(function() {
	// Add my tweets to the page
	$.get("http://api.twitter.com/1/graysky/lists/my-public-tweets/statuses.json?page=1&per_page=3", function(data, textStatus) {
			twitterCallback2(data);
		},
		"jsonp"
	);
});
</script>
-->

{% endif %}
</div><!-- end sidebar -->