{% include header.html %}

<body>
  <div class="navbar navbar-static-top xnavbar-fixed-top">
    <div id="headercontent" class="xcontainer container-fluid">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" style="margin-left: 20px;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">mike <span class="navpunch">champion</span></a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav pull-right hidden-print">
          <li>
            <a class="visible-sm" title="About me" href="/mike-champion">
              <i class="icon-user icon-large"></i> 
              About
            </a>
          </li>
          <li>
            <a class="hidden-sm" title="About me" href="/mike-champion">
              About
            </a>
          </li>
          <li>
            <a class="hidden-sm" href="https://twitter.com/{{ site.author.twitter }}" title="@graysky on Twitter">
              <i class="icon-twitter icon-large"></i>
            </a>
          </li>
          <li>
            <a class="visible-sm" href="https://twitter.com/{{ site.author.twitter }}" title="@graysky on Twitter">
              <i class="icon-twitter icon-large"></i> Follow Me
            </a>
          </li>
          <li>
            <a class="hidden-sm" href="mailto:mike@graysky.org" title="Contact Me">
              <i class="icon-envelope icon-large"></i>
            </a>
          </li>
          <li>
            <a class="visible-sm" href="mailto:mike@graysky.org" title="Contact Me">
              <i class="icon-envelope icon-large"></i> Email Me
            </a>
          </li>
          <li>
            <a class="hidden-sm" href="http://feeds.feedburner.com/graysky" title="RSS feed">
              <i class="icon-rss-sign icon-large"></i>
            </a>
          </li>
          <li>
            <a class="visible-sm" href="http://feeds.feedburner.com/graysky" title="RSS feed">
              <i class="icon-rss-sign icon-large"></i> Subscribe
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="xcontainer container-fluid">
    {{ content }}
  </div>

{% include footer.html %}
</html>
