---
layout: default
---
<div class="entry">
  <div class="entrytitle"><a href="{{ page.url }}"><h1>{{ page.title }}</h1></a></div>

	<div style="margin-bottom: 8px;">
		<div class="entrymeta post_date">
			{{ page.date | date: "%B %d, %Y" }}
	  </div>
		
		<div class="entrysocial">
			<a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="none" data-via="graysky">Tweet</a>
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			<div style="display: inline-block; vertical-align: -2px; margin-left: 8px;">
				<iframe src="http://www.facebook.com/plugins/like.php?{{site.base_url | cgi_escape}}{{ page.url | cgi_escape }}&amp;layout=button_count&amp;show_faces=false&amp;width=110&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
			</div>
		</div>
	</div>

	<div class="entrybody">
		{{ content }}
	</div>
	
  <div class="commentsblock">
    <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/graysky/embed.js"></script><noscript><a href="http://graysky.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
	 
</div>

